<div id="cart-container" class="container">
  <div class="title">Meus Pedidos</div>
  {{#each cart.products}}
    <div class="item">
      <div class="image">
        <img
          src="{{this.productId.thumbnail}}"
          alt="{{this.productId.title}}"
        />
      </div>
      <div class="description">
        <span>{{this.productId.title}}</span>
        <span>{{this.productId.description}}</span>
        <span>{{this.productId.category}}</span>
      </div>
      <div class="quantity">
        <span>Quantidade</span>
        <span>{{this.quantity}}</span>
      </div>
      <div class="price-details">
        <div class="price-item">
          <span>Valor unitário:</span>
          <span>R$ {{this.productId.price}}</span>
        </div>
        <div class="price-item">
          <span>Preço Total:</span>
          <span>R$ {{calculateTotal this.productId.price this.quantity}}</span>
        </div>
      </div>
    </div>
  {{/each}}
  <div class="clear-cart">
    <button id="clear-cart" data-cart-id="{{cart._id}}">Limpar Carrinho</button>
  </div>
</div>

<script src="/js/cart.js"></script>